In [17]:
from dotenv import load_dotenv
import os
import wrds
import pandas as pd
import numpy as np #numerical computations
import sqlite3 #SQLite databases, used to save or query financial data locally

from plotnine import *  # visualization library
from mizani.formatters import comma_format, percent_format # formatters for plots
from datetime import datetime # datetime objects

In [18]:
# from google.colab import drive # Gives access to the Google Colab to access your Google Drive
# drive.mount('/content/drive')

In [19]:
load_dotenv('.env') # Loads the .env variable that is in your root folder of Google Drive (read "Readme")

True

In [20]:
# Test if your WRDS credentials and connection work


# Retrieve WRDS credentials
wrds_username = os.getenv("WRDS_USER")
wrds_password = os.getenv("WRDS_PASSWORD")

# Check if credentials are loaded properly
if not wrds_username or not wrds_password:
    raise ValueError("WRDS_USER or WRDS_PASSWORD is not loaded from .env!")

# Create the .pgpass file manually
pgpass_content = f"wrds-pgdata.wharton.upenn.edu:9737:wrds:{wrds_username}:{wrds_password}\n"
pgpass_path = os.path.expanduser("~/.pgpass")

with open(pgpass_path, "w") as pgpass_file:
    pgpass_file.write(pgpass_content)

# Set the correct permissions
os.chmod(pgpass_path, 0o600)
print(f".pgpass file created successfully at {pgpass_path}.")

# Establish a connection without prompting
db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
print("Connected to WRDS successfully!")

.pgpass file created successfully at /Users/matchalatte2609/.pgpass.
Loading library list...
Done
Connected to WRDS successfully!

In [21]:
# Define the shared folder path
shared_folder_path = '/Users/matchalatte2609/Documents/bbl/mini_hedge_fund'
# You must create a shortcut of the shared Google Drive folder for
# this to run properly and store it in your root Google Drive folder

# Check if the folder exists
if os.path.exists(shared_folder_path):
    print(f"Shared folder is accessible at: {shared_folder_path}")
else:
    print("Shared folder is not accessible. Ensure it is added to 'My Drive'.")

Shared folder is accessible at: /Users/matchalatte2609/Documents/bbl/mini_hedge_fund

In [22]:
crsp_data = db.raw_sql("select date, vwretd from crsp.msi where date >= '2022-01-01' and date <= '2022-12-31'")

#From WRDS
#sqlstmt = "select date, vwretd from crsp.msi where date >= '2022-01-01' and date <= '2022-12-31'"
#sqlstmt = "select date, vwretd from crsp.msi limit 10"

In [23]:
crsp_data

          date    vwretd
0   2022-01-31 -0.059823
1   2022-02-28 -0.021838
2   2022-03-31  0.030506
3   2022-04-29 -0.089387
4   2022-05-31 -0.002113
5   2022-06-30 -0.083998
6   2022-07-29  0.090351
7   2022-08-31 -0.036233
8   2022-09-30 -0.091323
9   2022-10-31  0.077394
10  2022-11-30  0.052354
11  2022-12-30  -0.05712

In [ ]:
# Assuming we already established a wrds connection with db = wrds.Connection()
# db = wrds.Connection()
# Assuming we already pulled data as we did in the above cell
#crsp_data = db.raw_sql("select date, vwretd from crsp.msi where date >= '2022-01-01' and date <= '2022-12-31'")

# Trying to use the SQL query to save the result into a pandas dataframe

# Below doesn't WORK!
# sqlstmt = "select date, vwretd from crsp.msi where date >= '2022-01-01' and date <= '2022-12-31'"
# df = pd.read_sql(sqlstmt, db)
# print(df.head(5))


sqlstmt = "select date, vwretd from crsp.msi where date >= '2022-01-01' and date <= '2022-12-31'"
# Use the WRDS raw_sql() method to execute the query and return a DataFrame
df = db.raw_sql(sqlstmt)
print(df.head(5))

         date    vwretd
0  2022-01-31 -0.059823
1  2022-02-28 -0.021838
2  2022-03-31  0.030506
3  2022-04-29 -0.089387
4  2022-05-31 -0.002113

In [25]:
# Assuming you have a connection to a database and it's stored in the variable 'conn'
# Replace 'conn' with your actual connection variable
#df = pd.read_sql(sqlstmt, conn)
#print(df.head(5))

crsp_data.head(5)

         date    vwretd
0  2022-01-31 -0.059823
1  2022-02-28 -0.021838
2  2022-03-31  0.030506
3  2022-04-29 -0.089387
4  2022-05-31 -0.002113

In [26]:
# Query to inspect the table schema
schema_query = """
SELECT *
FROM information_schema.columns
WHERE table_name = 'msi' AND table_schema = 'crsp';
"""

# Execute the query
schema = db.raw_sql(schema_query)

# Display the schema to identify correct column names
print(schema)

   table_catalog table_schema table_name column_name  ordinal_position  \
0           wrds         crsp        msi        date                 1
1           wrds         crsp        msi      vwretd                 2
2           wrds         crsp        msi      vwretx                 3
3           wrds         crsp        msi      ewretd                 4
4           wrds         crsp        msi      ewretx                 5
5           wrds         crsp        msi      sprtrn                 6
6           wrds         crsp        msi      spindx                 7
7           wrds         crsp        msi      totval                 8
8           wrds         crsp        msi      totcnt                 9
9           wrds         crsp        msi      usdval                10
10          wrds         crsp        msi      usdcnt                11

   column_default is_nullable data_type character_maximum_length  \
0            <NA>         YES      date                     <NA>
1            <NA>         YES   numeric                     <NA>
2            <NA>         YES   numeric                     <NA>
3            <NA>         YES   numeric                     <NA>
4            <NA>         YES   numeric                     <NA>
5            <NA>         YES   numeric                     <NA>
6            <NA>         YES   numeric                     <NA>
7            <NA>         YES   numeric                     <NA>
8            <NA>         YES   integer                     <NA>
9            <NA>         YES   numeric                     <NA>
10           <NA>         YES   integer                     <NA>

   character_octet_length  ...  is_identity  identity_generation  \
0                    <NA>  ...           NO                 <NA>
1                    <NA>  ...           NO                 <NA>
2                    <NA>  ...           NO                 <NA>
3                    <NA>  ...           NO                 <NA>
4                    <NA>  ...           NO                 <NA>
5                    <NA>  ...           NO                 <NA>
6                    <NA>  ...           NO                 <NA>
7                    <NA>  ...           NO                 <NA>
8                    <NA>  ...           NO                 <NA>
9                    <NA>  ...           NO                 <NA>
10                   <NA>  ...           NO                 <NA>

    identity_start  identity_increment identity_maximum identity_minimum  \
0             <NA>                <NA>             <NA>             <NA>
1             <NA>                <NA>             <NA>             <NA>
2             <NA>                <NA>             <NA>             <NA>
3             <NA>                <NA>             <NA>             <NA>
4             <NA>                <NA>             <NA>             <NA>
5             <NA>                <NA>             <NA>             <NA>
6             <NA>                <NA>             <NA>             <NA>
7             <NA>                <NA>             <NA>             <NA>
8             <NA>                <NA>             <NA>             <NA>
9             <NA>                <NA>             <NA>             <NA>
10            <NA>                <NA>             <NA>             <NA>

   identity_cycle is_generated generation_expression is_updatable
0              NO        NEVER                  <NA>          YES
1              NO        NEVER                  <NA>          YES
2              NO        NEVER                  <NA>          YES
3              NO        NEVER                  <NA>          YES
4              NO        NEVER                  <NA>          YES
5              NO        NEVER                  <NA>          YES
6              NO        NEVER                  <NA>          YES
7              NO        NEVER                  <NA>          YES
8              NO        NEVER                  <NA>          YES
9              NO        NEVER                  <NA>          YES
10             NO        NEVER                  <NA>          YES

[11 rows x 44 columns]

In [27]:
# db = wrds.Connection()

#db = wrds.Connection(wrds_username='dljiang')

#From AI:

# conn = mysql.connector.connect(host='your_host', database='your_database', user='your_user', password='your_password')

# Access Data
# AI Prompt: Access CRSP market index monthly returns from WRDS using Colab Python code

#crsp_data = db.raw_sql('select date, vwretd from crsp.msi where date >= "20220101" and date <= "20221231"')
# df_sql = db.raw_sql('''select conm, gvkey, cik FROM comp.funda WHERE fyear>2010 AND (indfmt='INDL')''')

# crsp_data = db.raw_sql('select date, vwretd from crsp.msi where date between "01/01/2020" and "12/31/2022"')
# crsp_data = db.raw_sql('select date, vwretd from crsp.msi')


# Query CRSP Monthly Stock Indices for 2022
crsp_query = """
SELECT date, vwretd AS value_weighted_return, ewretd AS equal_weighted_return
FROM crsp.msi
WHERE date >= '2022-01-01' AND date <= '2022-12-31'
"""

# Execute the query
crsp_data = db.raw_sql(crsp_query)

# Display the first few rows
print("CRSP Monthly Stock Indices Data:")
print(crsp_data.head())

CRSP Monthly Stock Indices Data:
         date  value_weighted_return  equal_weighted_return
0  2022-01-31              -0.059823              -0.068191
1  2022-02-28              -0.021838              -0.007412
2  2022-03-31               0.030506               0.015438
3  2022-04-29              -0.089387              -0.089642
4  2022-05-31              -0.002113              -0.016103

In [28]:
start_date = "01/01/1960"
end_date = "12/31/2022"

In [ ]:
from sqlalchemy import create_engine


# Load environment variables from the .env file
load_dotenv('/content/drive/My Drive/.env')  # Adjust path to your .env file

# Retrieve WRDS credentials
wrds_username = os.getenv('WRDS_USER')
wrds_password = os.getenv('WRDS_PASSWORD')

# Ensure credentials are loaded
if not wrds_username or not wrds_password:
    raise ValueError("WRDS_USER or WRDS_PASSWORD is not loaded from .env!")

# Establish the SQLAlchemy engine connection to the WRDS database
connection_string = f"postgresql://{wrds_username}:{wrds_password}@wrds-pgdata.wharton.upenn.edu:9737/wrds"
wrds = create_engine(connection_string, pool_pre_ping=True)

# Define the date range for the query
start_date = "2023-01-01"
end_date = "2023-12-31"

# Define a SQL query to extract CRSP monthly stock data and relevant metadata
crsp_monthly_query = f"""
    SELECT
        msf.permno,
        msf.date,
        date_trunc('month', msf.date)::date AS month,
        msf.ret,
        msf.shrout,
        msf.altprc,
        msenames.exchcd,
        msenames.siccd,
        msedelist.dlret,
        msedelist.dlstcd
    FROM
        crsp.msf AS msf
    LEFT JOIN
        crsp.msenames AS msenames
    ON
        msf.permno = msenames.permno
        AND msenames.namedt <= msf.date
        AND msf.date <= msenames.nameendt
    LEFT JOIN
        crsp.msedelist AS msedelist
    ON
        msf.permno = msedelist.permno
        AND date_trunc('month', msf.date)::date = date_trunc('month', msedelist.dlstdt)::date
    WHERE
        msf.date BETWEEN '{start_date}' AND '{end_date}'
        AND msenames.shrcd IN (10, 11)
"""

# Execute the query and load the data into a pandas DataFrame
try:
    with wrds.connect() as connection:
        crsp_monthly = (
            pd.read_sql_query(
                sql=crsp_monthly_query,
                con=connection,
                dtype={"permno": int, "exchcd": int, "siccd": int},
                parse_dates=["date", "month"]
            )
            .assign(shrout=lambda x: x["shrout"] * 1000)  # Adjust shares outstanding
        )

    # Display the first few rows of the DataFrame
    print(crsp_monthly.head())

except Exception as e:
    print(f"An error occurred: {e}")
finally:
    wrds.dispose()

   permno       date      month       ret      shrout  altprc  exchcd  siccd  \
0   15058 2023-01-31 2023-01-01  0.469697   8159000.0    2.91       3   9999
1   15059 2023-01-31 2023-01-01  0.070707  78852000.0    8.48       3   9999
2   15062 2023-01-31 2023-01-01  0.412263  50736000.0    1.20       3   9999
3   15064 2023-01-31 2023-01-01  0.083740  56351000.0   15.53       3   9999
4   15065 2023-01-31 2023-01-01  0.473159  94183000.0   23.60       3   9999

   dlret  dlstcd
0    NaN     NaN
1    NaN     NaN
2    NaN     NaN
3    NaN     NaN
4    NaN     NaN

In [ ]:


# Load environment variables from the .env file
load_dotenv('/content/drive/My Drive/.env')  # Adjust the path to your .env file

# Retrieve WRDS credentials
wrds_username = os.getenv("WRDS_USER")
wrds_password = os.getenv("WRDS_PASSWORD")

# Establish a connection to the WRDS database
try:
    db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
    print("Connected to WRDS successfully!")
except Exception as e:
    print(f"Failed to connect to WRDS: {e}")
    raise

# Define the SQL query to access CRSP monthly stock data
query = """
    SELECT
        a.permno,
        a.permco,
        b.ncusip,
        a.date,
        b.shrcd,
        b.exchcd,
        b.siccd,
        a.ret,
        a.vol,
        a.shrout,
        a.prc,
        a.cfacpr,
        a.cfacshr
    FROM crsp.msf AS a
    LEFT JOIN crsp.msenames AS b
        ON a.permno = b.permno
        AND b.namedt <= a.date
        AND a.date <= b.nameendt
    WHERE a.date BETWEEN '2022-01-01' AND '2022-12-31'
        AND b.shrcd BETWEEN 10 AND 11
"""

# Execute the query and load the data into a pandas DataFrame
try:
    crsp_m = db.raw_sql(query, date_cols=['date'])
    print("Query executed successfully. Data loaded into a DataFrame!")
    print(crsp_m.head())  # Preview the first few rows
except Exception as e:
    print(f"Failed to execute the query: {e}")

# Close the WRDS connection
finally:
    db.close()
    print("WRDS connection closed.")

Loading library list...
Done
Connected to WRDS successfully!
Query executed successfully. Data loaded into a DataFrame!
   permno  permco    ncusip       date  shrcd  exchcd  siccd       ret  \
0   14925   55022  10501E20 2022-01-31     11       3   4822     -0.22
1   14926   55023  12508E10 2022-01-31     11       3   9999  0.029468
2   14927   54953  21232630 2022-01-31     11       3   9999  0.068441
3   14930   55026  36192A10 2022-01-31     11       3   9999 -0.707708
4   14932   55027  59630420 2022-01-31     11       3   9999  0.030847

        vol    shrout     prc    cfacpr   cfacshr
0   26387.0   36401.0    3.12  0.066667  0.066667
1  131696.0  116784.0   42.97       1.0       1.0
2   21496.0   39333.0    2.81    0.0125    0.0125
3    9044.0   33097.0    2.92       1.0       1.0
4    1123.0    5889.0  25.565       1.0       1.0
WRDS connection closed.

In [31]:
import wrds
from dotenv import load_dotenv
import os

# Load environment variables (optional, if not hardcoding the username/password)
load_dotenv('/content/drive/My Drive/.env')  # Adjust the path if needed
wrds_username = os.getenv("WRDS_USER")
wrds_password = os.getenv("WRDS_PASSWORD")

# Establish a connection to the WRDS database
try:
    db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
    print("Connected to WRDS successfully!")
except Exception as e:
    print(f"Failed to connect to WRDS: {e}")
    raise

# Define and execute the query
query = """
    SELECT date, vwretd
    FROM crsp.msi
"""
try:
    crsp_data = db.raw_sql(query, date_cols=['date'])
    print("Query executed successfully. Data loaded into a DataFrame!")
    print(crsp_data.head())  # Preview the first few rows of data
except Exception as e:
    print(f"Failed to execute the query: {e}")
finally:
    # Close the connection
    db.close()
    print("WRDS connection closed.")

Loading library list...
Done
Connected to WRDS successfully!
Query executed successfully. Data loaded into a DataFrame!
        date    vwretd
0 1925-12-31      <NA>
1 1926-01-30  0.000561
2 1926-02-27 -0.033046
3 1926-03-31 -0.064002
4 1926-04-30  0.037029
WRDS connection closed.

In [ ]:
from pandas.tseries.offsets import MonthEnd

# Load environment variables
load_dotenv('env')  # Adjust path to your .env file
wrds_username = os.getenv("WRDS_USER")
wrds_password = os.getenv("WRDS_PASSWORD")

# Establish a WRDS connection
try:
    db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
    print("Connected to WRDS successfully!")
except Exception as e:
    print(f"Failed to connect to WRDS: {e}")
    raise

# Query CRSP monthly stock data
query = """
    SELECT
        a.permno,
        a.permco,
        b.ncusip,
        a.date,
        b.shrcd,
        b.exchcd,
        b.siccd,
        a.ret,
        a.vol,
        a.shrout,
        a.prc,
        a.cfacpr,
        a.cfacshr
    FROM crsp.msf AS a
    LEFT JOIN crsp.msenames AS b
        ON a.permno = b.permno
        AND b.namedt <= a.date
        AND a.date <= b.nameendt
    WHERE a.date BETWEEN '1970-01-01' AND '2017-12-31'
        AND b.shrcd BETWEEN 10 AND 11
"""
try:
    crsp_m = db.raw_sql(query, date_cols=['date'])
    print("Query executed successfully. Data loaded into a DataFrame!")
except Exception as e:
    print(f"Failed to execute query: {e}")
    db.close()
    raise

# Close the WRDS connection
db.close()

# Data Transformations
try:
    # Change variable format to int
    crsp_m[['permco', 'permno', 'shrcd', 'exchcd']] = crsp_m[['permco', 'permno', 'shrcd', 'exchcd']].astype(int)

    # Line up date to be end of month
    crsp_m['jdate'] = crsp_m['date'] + MonthEnd(0)

    # Price adjusted
    crsp_m['p'] = crsp_m['prc'].abs() / crsp_m['cfacpr']

    # Total shares out adjusted
    crsp_m['tso'] = crsp_m['shrout'] * crsp_m['cfacshr'] * 1e3

    # Market cap in $mil
    crsp_m['me'] = crsp_m['p'] * crsp_m['tso'] / 1e6

    # Sum of market cap across different permno belonging to the same permco on a given date
    crsp_summe = (
        crsp_m.groupby(['jdate', 'permco'])['me']
        .sum()
        .reset_index()
        .rename(columns={'me': 'me_comp'})
    )

    # Merge the summed market cap back into the original DataFrame
    crsp_m = pd.merge(crsp_m, crsp_summe, how='inner', on=['jdate', 'permco'])

    print("Data transformations completed successfully!")
    print(crsp_m.head())  # Preview the transformed data
except Exception as e:
    print(f"Failed during data transformations: {e}")

Loading library list...
Done
Connected to WRDS successfully!
Query executed successfully. Data loaded into a DataFrame!
Data transformations completed successfully!
   permno  permco    ncusip       date  shrcd  exchcd  siccd       ret  \
0   10000    7952  68391610 1986-01-31     10       3   3990      <NA>
1   10000    7952  68391610 1986-02-28     10       3   3990 -0.257143
2   10000    7952  68391610 1986-03-31     10       3   3990  0.365385
3   10000    7952  68391610 1986-04-30     10       3   3990 -0.098592
4   10000    7952  68391610 1986-05-30     10       3   3990 -0.222656

      vol  shrout      prc  cfacpr  cfacshr      jdate        p        tso  \
0  1771.0  3680.0   -4.375     1.0      1.0 1986-01-31    4.375  3680000.0
1   828.0  3680.0    -3.25     1.0      1.0 1986-02-28     3.25  3680000.0
2  1078.0  3680.0  -4.4375     1.0      1.0 1986-03-31   4.4375  3680000.0
3   957.0  3793.0     -4.0     1.0      1.0 1986-04-30      4.0  3793000.0
4  1074.0  3793.0 -3.10938     1.0      1.0 1986-05-31  3.10938  3793000.0

          me    me_comp
0       16.1       16.1
1      11.96      11.96
2      16.33      16.33
3     15.172     15.172
4  11.793878  11.793878

In [34]:


# Establish a connection to the WRDS database
try:
    db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
    print("Connected to WRDS successfully!")
except Exception as e:
    print(f"Failed to connect to WRDS: {e}")
    raise

# Available WRDS functions
print("""
Available WRDS functions:
- db.connection()
- db.list_libraries()
- db.list_tables()
- db.get_table()
- db.describe_table()
- db.raw_sql()
- db.close()
""")

# Example Queries
try:
    # Example 1: Retrieve Dow Jones daily index value
    dow_data = db.raw_sql('SELECT date, dji FROM djones.djdaily LIMIT 10')
    print("Dow Jones Daily Index Data:")
    print(dow_data)

    # Example 2: Retrieve data from CRSP
    crsp_data = db.raw_sql('SELECT cusip, permno, date, bidlo, askhi FROM crsp.dsf LIMIT 100')
    print("CRSP Data:")
    print(crsp_data.head())

    # Example 3: Restrict rows and columns with get_table
    comp_data_short = db.get_table(library='comp', table='funda', columns=['conm', 'gvkey', 'cik'], obs=5)
    print("Restricted Compustat Data:")
    print(comp_data_short)

    # Example 4: Query the database directly using SQL
    comp_sql_data = db.raw_sql('''
        SELECT conm, gvkey, cik
        FROM comp.funda
        WHERE fyear > 2010
          AND indfmt = 'INDL'
    ''')
    print("Compustat SQL Query Data:")
    print(comp_sql_data.head())

except Exception as e:
    print(f"Error during queries: {e}")

finally:
    # Close the WRDS connection
    db.close()
    print("WRDS connection closed.")

Loading library list...
Done
Connected to WRDS successfully!

Available WRDS functions:
- db.connection()
- db.list_libraries()
- db.list_tables()
- db.get_table()
- db.describe_table()
- db.raw_sql()
- db.close()

Dow Jones Daily Index Data:
         date    dji
0  1896-05-26  40.94
1  1896-05-27  40.58
2  1896-05-28   40.2
3  1896-05-29  40.63
4  1896-06-01   40.6
5  1896-06-02  40.04
6  1896-06-03  39.77
7  1896-06-04  39.94
8  1896-06-05  40.32
9  1896-06-08  39.81
CRSP Data:
      cusip  permno        date  bidlo  askhi
0  68391610   10000  1986-01-07  2.375   2.75
1  68391610   10000  1986-01-08  2.375  2.625
2  68391610   10000  1986-01-09  2.375  2.625
3  68391610   10000  1986-01-10  2.375  2.625
4  68391610   10000  1986-01-13    2.5   2.75
Restricted Compustat Data:
                    conm   gvkey   cik
0  A & E PLASTIK PAK INC  001000  <NA>
1  A & E PLASTIK PAK INC  001000  <NA>
2  A & E PLASTIK PAK INC  001000  <NA>
3  A & E PLASTIK PAK INC  001000  <NA>
4  A & E PLASTIK PAK INC  001000  <NA>
Compustat SQL Query Data:
                          conm   gvkey         cik
0                     AAR CORP  001004  0000001750
1                     AAR CORP  001004  0000001750
2   AFA PROTECTIVE SYSTEMS INC  001019  0000002668
3   AFA PROTECTIVE SYSTEMS INC  001019  0000002668
4  AMERICAN AIRLINES GROUP INC  001045  0000006201
WRDS connection closed.